[Desktop Entry]
Name=eInk Window Settings
Comment=Configure eInk window settings
Exec=/usr/bin/eink_window_settings
Icon=preferences-system
Terminal=false
Type=Application
Categories=Settings;Utility;
